#!/usr/bin/env bash
set -Eeuo pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

{{ include "common/utils.sh" }}


# https://docs.astral.sh/uv/getting-started/installation/#standalone-installer
function install_uv() {
    assert_installed "uv"
    info "Installing uv"
    curl -LsSf https://astral.sh/uv/install.sh | sh
}

# https://docs.astral.sh/uv/getting-started/installation/#uninstallation
function uninstall_uv() {
    uv cache clean
    rm -rf "$(uv python dir)"
    rm -rf "$(uv tool dir)"
    rm -f "${HOME}/.cargo/bin/uv" "${HOME}/.cargo/bin/uvx"
}

function main() {
    install_uv
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
