#!/usr/bin/env bash
set -Eeuo pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

{{ include "common/utils.sh" }}

function install_zsh() {
    assert_installed "zsh"
    info "Installing zsh"
    package_install "zsh"
}

function uninstall_zsh() {  
    package_remove "zsh"
}

function main() {
    install_zsh
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
