#!/usr/bin/env bash
set -Eeuo pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

{{ include "common/utils.sh" }}


# ref. https://www.rust-lang.org/tools/install
function install_rust() {
    assert_installed "rustup"
    info "Installing rust"
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path
}

function uninstall_rust() {
    rustup self uninstall
}

function main() {
    install_rust
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
